<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../css/estilos.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,100;1,200&display=swap"
			rel="stylesheet"
		/>
		<title>Team Sporty Argentina</title>
	</head>
	<body class="body-musica">
		<div class="header-views">
			<div class="header-h1"><h1>MELANIE C</h1></div>
			<div class="header-h2"><h2>TEAM SPORTY ARGENTINA</h2></div>
			<!-- inicio Barra de menu-->
			<div class="nav-menupri">
				<div class="menu-item"><a href="../index.html">HOME ───</a></div>
				<div class="menu-item">
					<a href="../views/musica.html">MUSICA ───</a>
				</div>
				<div class="menu-item"><a href="../views/bio.html">BIO ───</a></div>
				<div class="menu-item"><a href="../views/shows.html">SHOWS ───</a></div>
				<div class="menu-item">
					<a href="../views/galeria.html">GALERIA ───</a>
				</div>
			</div>
		</div>
		<main>
			<h2 class="subtitulos">GALERIA</h2>
			<div class="galeria">
				<div class="img-galeria"><img src="../img/mel_gal1.jpg" /></div>
				<div class="img-galeria"><img src="../img/mel_gal2.jpg" /></div>
				<div class="img-galeria"><img src="../img/mel_gal3.jpg" /></div>
				<div class="img-galeria"><img src="../img/mel_gal4.jpg" /></div>
				<div class="img-galeria"><img src="../img/MelC1.jpg" /></div>
				<div class="img-galeria"><img src="../img/MelC2.jpg" /></div>
			</div>
		</main>
		<!--inicio Pie de pagina-->
		<footer>
			<div class="footer-index">
				<ul>
					<li>
						<a href="#"><img src="../img/icon_facebook24px.png" /></a>Team
						Sporty Argentina
					</li>
					<li>
						<a href="#"><img src="../img/icon_instagram24px.png" /></a
						>Teamsporty_Argentina
					</li>
					<li>
						<a href="#"><img src="../img/icon_youtube24px.png" /></a>Melanie C
						Argentina
					</li>
				</ul>
			</div>
			<div><p>2021 ® Powered by Clau from Team Sporty Argentina.</p></div>
		</footer>
		<!--fin pie de pagina-->
	</body>
</html>
