/* Estilos Generales*/
* {
   margin: 0;
   padding: 0;
   background-color:#e0dbd7;
   font-family: Montserrat;	
}
.body-index{
     display: flex;
     height: 600px;
     flex-direction: column;
    padding: 1em;
}


/* Header todas las paginas*/
.header-h1 {
    font-size: 60px;
    font-weight:  900;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}
.header-h2{
    text-align: center;
    font-size: 20px;
    font-weight:lighter;
    color: #946f61;
    word-spacing: 1px;
}
/*header index*/
.nav-menupri {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    padding: 7px;
    margin-left: 5px;
    font-style: italic;
    color:black;
}
.nav-menupri > div {
    margin: 10px; 
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
/*header views*/

.main-index {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.img-main-index{
    justify-content: center;
    margin: 50px; 
    align-self: center;
}
.main-h2 {
    align-self: center;
    
}

.redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    padding: 7px;
    margin-left: 5px;
    font-style: italic;
    color:black;
}
.redes > div {
    margin: 10px;
    padding: auto;
    align-items: center;
}
.img_bio{
    justify-content: left;
    margin: 50px;
    padding: 10px 
    align-self: center;
}
.subtitulos {
    margin: 50px;
    padding: 10px; 
}
.text_bio{
    justify-content: row;
    margin: 50px;
    padding: 10px 
    align-self: center;
}
/* Footer index*/
.footer-index{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: flex-start;
}
.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-direction;
    margin: 100px;
    padding: 50px;
}
.img-galeria {
    margin: 10px;
    padding: 5px;
    align-content: center;
    justify-content: center;

}
/* footer todas la páginas*/
footer{
    text-align:left ; 

}

footer div ul{
    
  display: block;    
  padding: 7px;
  margin-left: 5px;

}
 footer p {
  text-align: right;
  margin: 10px;
  padding: 20px;
}
 /* MAIN SECCIONES*/

 .subtitulos{
     text-align: center;
     font-size: 20px;
     font-weight: bold;
 }    
 .lista-shows{
     text-align: center;
     font-size: 10px;
     font-weight: 200;
     color:#392e27;
     word-spacing: 1px;
 }

 /* Seccion Musica*/
.body-musica{
     

} 

 table {
      height: 50%;

 }








